
/renderers/velocity/.classpath
/renderers/velocity/.project
/renderers/velocity/.settings
/renderers/velocity/target
/renderers/groovy/.classpath
/renderers/groovy/.project
/renderers/groovy/target
/renderers/groovy/.settings